@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>We put the MEGA in MegaDesk! We're a crazy, desk-loving company with your best desk interests in mind. It all started when our founder, Lars Nobledesk, found himself lost in a deep, dark cavern. He would have died there, if he hadn't found a desk.
That's right! A DESK. The desk contained instructions for release from the hellish labryinth. Since then we've been HOOKED ON DESKS. If you want the coolest desk in town, get MEGA. </p>
