@page
@model MegadeskWebApp.Pages.DeskQuotes.CreateModel

@{
    ViewData["Title"] = "Create";
}
<head>
    <script>
        function settopine() {
            document.getElementById("surface-input-text").value = "Pine";
        }
        function settooak() {
            document.getElementById("surface-input-text").value = "Oak";
        }
        function settolaminate() {
            document.getElementById("surface-input-text").value = "Laminate";
        }
        function settoveneer() {
            document.getElementById("surface-input-text").value = "Veneer";
        }
        function settorosewood() {
            document.getElementById("surface-input-text").value = "Rosewood";
        }
    </script>
</head>
<h2>Add</h2>

<h4>New Quote</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DeskQuote.FullName" class="control-label"></label>
                <input placeholder="Rick Smith" asp-for="DeskQuote.FullName" class="form-control" />
                <span asp-validation-for="DeskQuote.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeskQuote.NumDrawers" class="control-label"></label>
                <input placeholder="Must be a number between 0-7" asp-for="DeskQuote.NumDrawers" class="form-control" />
                <span asp-validation-for="DeskQuote.NumDrawers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeskQuote.Width" class="control-label"></label>
                <input placeholder="Must be a number between 24-96" asp-for="DeskQuote.Width" class="form-control" />
                <span asp-validation-for="DeskQuote.Width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeskQuote.Depth" class="control-label"></label>
                <input placeholder="Must be a number between 12-48" asp-for="DeskQuote.Depth" class="form-control" />
                <span asp-validation-for="DeskQuote.Depth" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DeskQuote.SurfaceMaterial" class="control-label"></label>
                <br />
                <input id="surface-input-text" placeholder="Please choose from the Images below" asp-for="DeskQuote.SurfaceMaterial" class="form-control" />
                <table>
                    <tr>
                        <td><a onclick="settolaminate()" href="#/" id="laminate"><img src="~/images/laminate.jpg" width="80" height="80">Laminate</a></td>
                        <td><a onclick="settopine()" href="#/" id="pine"><img src="~/images/pine.jpg" width="80" height="80">Pine</a></td>
                        <td><a onclick="settoveneer()" href="#/" id="veneer"><img src="~/images/veneer.jpg" width="80" height="80">Veneer</a></td>
                        <td><a onclick="settooak()" href="#/" id="oak"><img src="~/images/oak.jpg" width="80" height="80">Oak</a></td>
                        <td><a onclick="settorosewood()" href="#/" id="rosewood"><img src="~/images/rosewood.jpg" width="80" height="80">Rosewood</a></td>
                    </tr>
                </table>
                <span asp-validation-for="DeskQuote.SurfaceMaterial" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DeskQuote.RushDays" class="control-label"></label>
                <select placeholder="Enter 3|5|7|14" asp-for="DeskQuote.RushDays">
                    <option value="3">3</option>
                    <option value="5">5</option>
                    <option value="7">7</option>
                    <option value="4">14</option>
                </select>
                <span asp-validation-for="DeskQuote.RushDays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeskQuote.Date" class="control-label"></label>
                <input type="datetime" asp-for="DeskQuote.Date" class="form-control" value="@DateTime.Now.ToString("MM/dd/yyyy")" />
                @*<span asp-validation-for="DeskQuote.Date" class="text-danger"></span>*@
            </div>
            @*<div class="form-group">
                    <label asp-for="DeskQuote.Total" class="control-label"></label>
                    <input asp-for="DeskQuote.Total" class="form-control" />
                    <span asp-validation-for="DeskQuote.Total" class="text-danger"></span>
                </div>*@
            <div class="form-group create-flex">
                <input type="submit" value="Create" class="" />
                <hr width="1" size="500">
                <div class="button-link">
                    <a class="button-link" asp-page="Index">&#8678; Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
